.home_main_body {
  display: grid;
  place-items: center;
  height: 90vh;
}

.table_main_body {
  height: 77vh;
  width: 70vw;
  box-shadow: 0px 2px 3px 2px rgb(112 111 111);
  overflow-y: auto;
}

.loader {
  position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid blue;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
  left: 40%;
  top: 40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table,
td,
tr,
th {
  border-collapse: collapse;
  border-bottom: 1px solid rgb(175, 171, 171);
  border-right: 1px solid rgb(175, 171, 171);

  text-align: left;
}

table {
  width: 100%;
  height: 100px;
}

th {
  background-color: rgb(86, 91, 95);
  color: white;
  height: 50px;
  width: 100px;
  text-align: center;
}

.threebutton {
  display: flex;
  justify-content: space-evenly;
}
button {
  background-color: rgb(156, 115, 196);
  border: none;
}
