.registration_main_body {
  display: grid;
  place-items: center;
  height: 90vh;
}

.secondary_body {
  display: flex;
  height: 80 vh;
  width: 80%;
  box-shadow: 0px 2px 3px 2px rgb(112 111 111);
  padding: 10px;
}

.registraion_left {
  flex: 0.7;
  height: 80vh;
  overflow-y: auto;
  flex-direction: column;
}

.form_body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 21px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon > input {
  border: none;
  outline: none;
  width: 100%;
  height: 34px;
  margin-left: 20px;
  border-bottom: 0.2px solid rgba(134, 129, 129, 0.425);
}

.icon > input:hover {
  background-color: rgb(199, 193, 193);
}
.icon > input:focus {
  border-bottom: 1px solid black;
}

.form_radio {
  margin-top: -2px;
  border-bottom: 0.2px solid rgba(134, 129, 129, 0.425);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_role {
  margin-top: 8px;
  display: flex;
  border-bottom: 0.2px solid rgba(134, 129, 129, 0.425);
  align-items: center;
  justify-content: space-between;
  height: 39px;
}
.select {
  height: 36px;
}
.radio_label {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

label {
  color: gray;
}

.form_hobbies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-left: -33px;
  /* border-bottom: 0.2px solid rgba(134, 129, 129, 0.425); */
}
.registraion_left > h2 {
  margin-top: 0;
  padding: 10px;
  font-size: 42px;
}

.registration_right {
  background-color: rgb(203, 203, 214);
  flex: 0.3;
  height: 80vh;
  /* min-width: 100px; */
}

.registration_right > img {
  height: 80vh;
  /* min-width: 80px; */
}
.login_button {
  margin-top: 30px;
  margin-left: 10px;
}

.registraion_left > form {
  margin-left: 10px;
}

p {
  color: gray;
}

label:hover {
  color: rgb(79, 9, 241);
}

h3 {
  height: 32px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 100;
}

h4 {
  font-size: 15px;
  font-weight: 100;
}

small {
  color: red;
  text-transform: capitalize;
}
